@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Chivo+Mono&family=Kanit:wght@500&family=Lobster&family=Merriweather:wght@300;700;900&family=Montserrat:wght@100&family=Oswald:wght@200;400;500;600;700&family=Quicksand:wght@300;400;600&family=Roboto:ital,wght@0,100;1,100&family=Rubik+Dirt&family=Rubik+Moonrocks&family=Vina+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 20%;
    height: 150px;
    border: 2px solid #7ff800;
    text-align: center;
    margin: 430px 0 0 20px ;
    color: white;
    background-color: #171717;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
}
h3{
    margin-left: 5px;
    color: #7ff800;
}
.imageOne{
    height: 50px;
    width: 50px;
    border: 2px solid #7ff800;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 5px;
    /* margin-left: 20px; */
}
h5{
    font-size: 20px;
    color: #7ff800;
}
h6{
    color: blue;
    text-decoration: black;
}
/* responsive start here */
/* responsive start here */
@media (min-width: 0px) and (max-width: 600px){
    .container{
        width: 80%;
        height: 200px;
        border: 2px solid #7ff800;
        text-align: center;
        margin-top: 30px;
        margin-left: 50px;
        color: white;
        background-color: #171717;
        border-radius: 10px;
        font-family: "Poppins", sans-serif;
    }
    h3{
        margin-left: 5px;
        margin-top: 10px;
        color: #7ff800;
    }
    .imageOne{
        height: 80px;
        width: 80px;
        border: 2px solid #7ff800;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 5px;
        /* margin-left: 20px; */
    }
    h5{
        font-size: 20px;
        padding-top: 10px;
        color: #7ff800;
    }
    h6{
        color: blue;
        text-decoration: black;
    }
}

@media (min-width: 601px) and (max-width: 770px){
    .container{
        width: 30%;
        height: 150px;
        border: 2px solid #7ff800;
        text-align: center;
        margin: 800px 0 0 20px ;
        color: white;
        background-color: #171717;
        border-radius: 20px;
        font-family: "Poppins", sans-serif;
    }
    h3{
        margin-left: 5px;
        padding-top: 5px;
        color: #7ff800;
    }
    .imageOne{
        height: 50px;
        width: 50px;
        border: 2px solid #7ff800;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 5px;
        /* margin-left: 20px; */
    }
    h5{
        font-size: 20px;
        color: #7ff800;
    }
    h6{
        color: blue;
        text-decoration: black;
    }
}
@media(min-width: 771px) and (max-width: 850px){
    .container{
        width: 30%;
        height: 150px;
        border: 2px solid #7ff800;
        text-align: center;
        margin: 950px 0 0 20px ;
        color: white;
        background-color: #171717;
        border-radius: 20px;
        font-family: "Poppins", sans-serif;
    }
    h3{
        margin-left: 5px;
        padding-top: 5px;
        color: #7ff800;
    }
    .imageOne{
        height: 50px;
        width: 50px;
        border: 2px solid #7ff800;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 5px;
        /* margin-left: 20px; */
    }
    h5{
        font-size: 20px;
        color: #7ff800;
    }
    h6{
        color: blue;
        text-decoration: black;
    }
}
@media(min-width: 900px) and (max-width: 1200px){
    .container{
        width: 30%;
        height: 150px;
        border: 2px solid #7ff800;
        text-align: center;
        margin: 1150px 0 0 20px ;
        color: white;
        background-color: #171717;
        border-radius: 20px;
        font-family: "Poppins", sans-serif;
    }
    h3{
        margin-left: 5px;
        padding-top: 5px;
        color: #7ff800;
    }
    .imageOne{
        height: 50px;
        width: 50px;
        border: 2px solid #7ff800;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 5px;
        /* margin-left: 20px; */
    }
    h5{
        font-size: 20px;
        color: #7ff800;
    }
    h6{
        color: blue;
        text-decoration: black;
    }
}